body {
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  color: #576266;
}

* {
  box-sizing: border-box;
}

.warning {
  color: #808ff9;
}

input[type="text"] {
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 2px;
}

input[type="text"]::placeholder {
  color: #ddd;
}

input[type="submit"] {
  display: inline-block;
  padding: 5px;
  border: none;
  border-radius: 2px;
  background-color: #24f0c4;
  color: #fff;
  font-size: 16px;
}

.text-center {
  text-align: center;
}

.signup-form {
  display: block;
  width: 280px;
  margin: 10px auto;

  div {
    margin: 0;
    padding: 8px 0;
  }
  input {
    display: inline-block;
    width: 100%;
  }
}
